/* GENERAL */
body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}
h1,h2,h3,h4,h5,h6 {
    color: #1BA1E2;
}
#main {
    margin-left: 120px
}
.w3-content {
    display: none;
}
.w3-row-padding img {
    margin-bottom: 12px
}
.w3-sidebar {
    width: 120px;
    background: #1BA1E2;
}
.Required {
    color: #7A80DD;
}
#Loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
#Loading i {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #1BA1E2;
}
.myTextArea {
    resize: none;
}
.myCheckbox {
    width: 25px;
    height: 25px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.myButton {
    width: 100%;
}
.EditFormOnly {
    display: none;
}
.ControlLoading {
    left: 45%;
    position: relative;
    color: #1BA1E2;
    font-size: 40px;
    margin-top: 10px;
}
/* LISTVIEW */
.ListView {
    border-left: 1px solid #7A80DD;
}
.ListView tr {
    cursor: pointer;
}
.ListView tr:hover {
    background: rgba(255,255,255,0.2);
}
.DeleteUpdate, .DeleteModel {
    color: #7A80DD;
}
/* UPLOAD CONTROL */
.UploadControl_DragDropArea {
    width: 100%;
    height: 100px;
    line-height: 95px;
    text-align: center;
    float: left;
    margin-bottom: 10px;
    border: 3px dashed #FFF;
    color: #FFF;
}
.UploadControl_ProgressBar[value] {
    display: none;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    -webkit-appearance: none;
    appearance: none;
}
.UploadControl_ProgressBar[value]::-webkit-progress-bar {
    background-color: #eee;
  }
.UploadControl_ProgressBar[value]::-webkit-progress-value {
    background: #4CAF50;
  }
.UploadControl_Status {
    display: none;
    margin-top: 5px;
    text-align: center;
}
.UploadControl_Loading {
    margin-top: 10px;
    margin-bottom: 10px;
}
.UploadControl_FilesList {
    display: none;
    overflow: auto;
    max-height: 100px;
    list-style-type: none;
    padding: 10px;
}
.UploadControl_FilesList a {
    color: #FFF;
    text-decoration: none;
}
.UploadControl_DeleteFile {
    cursor: pointer;
    color: #7A80DD;
    float: right;
}
/* MOBILE CSS */
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0;
    }
    .ListView {
        border-left: none;
    }
}